body{
  background-color: #272727;
}
.barra img{
margin-left: 45px;
border-radius: 50%;
bottom: 20px;
position: static;
bottom: -60px;

}

.barra{
background-color: #a63e49;
width: 300px;
    height: 800px;
    margin-left: 30px;
    margin-top: -10px;
}
h2{
  color: white;
  margin-left: 20px;
  position: relative;
  bottom: -20px;
}
.barra p{
  color: white;
  width: 258px;
  padding: 20px;
  border: 1px solid white;
  margin: 0;
  text-align: center;
  position: relative;
  bottom: -40px;
}
.barra p:hover{
    background-color: white;
    color: #a63e49;
}
h1{
  color: white;
  position: relative;
  right: -650px;
  top: -800px;

}
#main-container{
  margin: 750px auto;
  width: 600px;
}
table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  right: -150px;
  top: -1800px;
}
th, td{
  padding: 20px;
}
thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}
tr:nth-child(even){
  background-color: #ddd;
}
tr:hover td{
  background-color: #369681;
  color: white;
}
#imagenes{
  margin: 750px auto;
  width: 600px;
}
.imagenes{
background-color: #a63e49;
width: 300px;
    height: 400px;
    margin-left: 30px;
    margin-top: -30px;
    position: relative;
      top: -1400px;
      right: -740px;
    }
    
